@import '~antd/dist/antd.css';
body,html,#root,.App,.container,.sidemenu{
  height: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidemenu{
  background: white;
  width: 200px;
  float: left;
}
.container{
  padding-top: 100px;
  margin-top: -100px;
  box-sizing: border-box;
}
.content{
  padding-left: 200px;
  box-sizing: border-box;
  background: #f1f1f1;
}
header{
  height: 100px; 
}
.menuitem.active{
  border-left:2px solid yellow;
}
.menuitem{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.menuitem svg{
  height: 20px;
  width: 20px;
}
.thead{
  display: flex;
  justify-content: space-around;
  border: 1px solid #f6f6f6;
  background: #f1f1f1;
  height: 30px;
  line-height: 30px; 
}
.roomlist{ 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.roomlist .roomitem{
  width: 50%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  border:1px solid #f1f1f1;
  box-sizing: border-box;
}
.pitem{
  background: white;
  border: 1px solid #666;
  margin-top: 20px;
}
.pad20{
  padding: 20px;
}
.flex{
  display: flex;
}
.flexcol{

}
.bg{
  background: #f1f1f1;
}
.activeproperty{
  background: yellow;
}